{# =========== Features ========= #}
{%  for feature in host["features"]  %}
feature {{ feature.name }}
{% endfor %}
{# =========== Hostname, NTP, DOMAIN, syslog ========= #}
hostname {{ host.about.caption }}
ip domain-name {{ host.about.domain_name }}
ntp server {{ host.about.ntp1 }} prefer
ntp server {{ host.about.ntp2 }}
logging server {{ host.about.log_server }} {{ host.about.severity }} {{ host.about.facility }}
{# =========== vlans ========= #}
vlan 10
name {{ host.vlans.vlan10 }}
vlan 21
name {{ host.vlans.vlan21 }}
vlan 31
name {{ host.vlans.vlan31 }}
vlan 32
name {{ host.vlans.vlan32 }}
{# ===========  ========= #}
{# =========== VPC ========= #}
vpc domain {{ host.vpc.domain }}
peer-keepalive destination {{ host.vpc.dst }} source {{ host.vpc.src }} vrf {{ host.vpc.vrf }}
role priority {{ host.vpc.role_pri }}
system priority {{ host.vpc.sys_pri }}
{# =========== VPC peer-links ========= #}
{% for peer_links in host["vpc_peer_links"] %}
interface {{ peer_links.name }}{{ peer_links.port_slot }}
channel-group 100 mode active
no shutdown
{% endfor %}
{# ===========  ========= #}
interface port-channel 100
no shutdown
switchport
switchport mode trunk
vpc peer-link
{# ===========  ========= #}
{# =========== VPC member-links ========= #}
spanning-tree mode rapid-pvst
{% for member_links in host["vpc_member_links"] %}
{% if member_links.vpc_id is not defined %}
interface {{ member_links.name }}{{ member_links.port_slot }}
channel-group {{ member_links.po_group }}  mode active
description {{ member_links.description }}
{% else %}
interface {{ member_links.name }}{{ peer_links.port_slot }}
switchport
switchport mode trunk
switchport trunk allowed vlan {{ interface.allowed_vlans }}
spanning-tree port type edge trunk
vpc {{ member_links.vpc_id }}
{% endif %}
{% endfor %}
{# =========== uplink ========= #}
interface {{ host.uplink.name }}{{ host.uplink.port_slot }}
switchport
switchport mode trunk
switchport trunk allowed vlan {{ host.uplink.allowed_vlans }}
description {{ host.uplink.description }}
{# =========== svi21 and hsrp ========= #}
interface vlan21
ip address {{ host.svi21.address }} {{ host.svi21.mask }}
no shut
hsrp 21 
preempt
priority {{ host.svi21.hsrp_pri }}
ip {{ host.svi21.hsrp_vip }}
no shutdown
exit
{# =========== svi_uplink ========= #}
interface {{ host.svi_uplink.name }}
ip address {{ host.svi_uplink.address }} {{ host.svi_uplink.mask }}
no shut
{# =========== bgp ========= #}
router bgp {{ host.bgp.my_as }}
neighbor {{ host.bgp.peer }} remote-as {{ host.bgp.peer_as }}
address-family ipv4 unicast
network {{ host.bgp.network }} {{ host.bgp.mask }}
{# =========== bgp prepend ========= #}
{% if host.bgp.prepend is defined %}
access-list 10 permit 188.100.10.0 0.0.0.255
route-map addPrepend permit 10
match ip address 10
set as-path prepend 500
route-map addPrepend permit 20
router bgp {{ host.bgp.my_as }}
neighbor {{ host.bgp.peer }} route-map addPrepend out
{% endif %}
{# =========== FINISH ========= #}